<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundle-identifier</key>
	<string>com.JenkinsTest.test</string>
	<key>teamID</key>
	<string>F22YRQ2QK9</string>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.JenkinsTest.test</key>
		<string>TRUSTY_CAR_CI</string>
	</dict>
</dict>
</plist>
